<h1>Welcome <%= @current_user.name %>, to your Personal Financial app!</h1>

<h3>What would you like to do?</h3>

<%#= link to goals %>
<%#= link to transaction balance %>
<%#=  link to investments%>
<%#= link to form with financial advisor?%>