<h1>Welcome <%= @current_user.name %>, to your Personal Financial app!</h1>

<%#= What would you like to do? %>
<%#= button_to goals#index, transactions#index, investments#index %>
    <%#= when we have time - make these nice buttons with bootstrap gem %>
<%#= button to logout? %>
<%#= end %>