<div>
<h2>Goal: <%= @goal.title %></h2>
<h3>Amount: $<%= @goal.amount %></h3>
</div>
<br>
<br>
<br>

<%#= To Do - update goal because we need a method that will divide the goal amount by how much this person is looking to save based on how much they're 
    trying to contribute, right?%>

<div>
    <%= link_to "Update Goal", edit_goal_path(@goal) %>
    <br>
    <%= link_to "Delete Goal", goal_path, method: :delete %>

</div>