<div>
    <%= button_to "Home Page", users_path %>
</div>

<div>
    <p>Account Name: <%= @current_user.name %></p>
    <p>Account Number: <%#= faker gem here for account num %></p>
</div>
<br>
<br>

<h3>Your current balance is: $</h3>